.about {
    padding-bottom: 2rem;

    h2 {
        &:hover {
            color: $secondary-color;
        }
    }

    &__bio-image {
        height: 50vh;
        width: 100%;
        background: 
            linear-gradient(
                to top,
                rgba($primary-color, 4),
                rgba($primary-color, 0),
                rgba($primary-color, 0),
                rgba($primary-color, 0)
            ),
            url('../img/_MG_6069.jpg') center top;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        p {
        margin-bottom: 2rem;
        }
    }
    
    &__bio {
        width: 80%;
        text-align: center;
        border-bottom: 2px solid $tertiary-color;

        .text-secondary {
            padding-bottom: 1rem;
        }
    }

    .skills {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        &__skill {
            background: lighten($primary-color, 10%);
            padding: 0.5rem;
            border-bottom: 5px solid $secondary-color;

            h2, h3 {
                margin: 0.5rem 0;
            }
            h6 {
                margin: 0.3rem 0;
            }
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
    }
    
    footer {
        transform:
            rotate(90deg)
            translate(-3rem, -5rem);
    }

}